
.list-contact{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    
    a{
        margin-left: 10px;
        margin-right: 10px;
    }

}

.link-to-website{
    text-decoration: none;
    color: white;
}

.link-to-website:hover{
    color: white;
}

.about-line-control{
    display: flex;
    justify-content: center;

    .about-line{
        margin-top: 20px;
        border-left: 1px solid white;
        height: 50px;
        position: relative;
    }
}



.control-position-images-exp{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.control-image-exp{
    width: 100%;
    h5{
        background-color: black;
        color: white;
    }
}
.dm-images{
    position: absolute;
    width: 80vw;
    right: -25vw;
}


.image-etiquete{
    position: absolute;
    width: 62vw;
    right: -17vw;
}

.images-modal{
    width: 8vw;
}

.ormaes-images{
    width: 20vw;
}


.ormaes-app-images{
    position: absolute;
    width: 80vw;
    right: -26vw;
}

.images-modal-ormaes{
    width: 20rem;
}

.b7Languages{
    width: inherit;
    margin-bottom: 10px;
}