.available{
    transition: transform .5s ease-in-out;
}
.available:hover{
    transform: rotate(-5deg);
    cursor: pointer;
}

.profile{
    border: 5px solid black;
    height: 15em;
    border-radius: 10px;
}

.masthead{
    overflow: hidden;
}

